NASA_API_KEY = "zWzQMtGa6DSVn8ug2yR2MscHNs60ngc7SClkKkJ9"
REPLICATE_API_KEY = "r8_DUgJ0O7ksOiZ2fDejrbKPnoLZLLTnvw2Sagi0"
AI_MODEL ="j-min/clip-caption-reward:de37751f75135f7ebbe62548e27d6740d5155dfefdf6447db35c9865253d7e06"
